*
{
    margin: 0;
    padding: 0;
        /* perspective: 1000px; */
        box-sizing: border-box;

}

body {
    font-family: "Open Sans", sans-serif;
    color: #555555;
    height: 6000px;
    
  }
  
  a {
    color: #7cc576;
  }
  
  a:hover {
    color: #9ed49a;
    text-decoration: none;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-family: "Montserrat", sans-serif !important;
  }
header .slider
{
    background-image: url('../img/hero-bg.png');
    position: relative;
    height: 700px;
    background-attachment: fixed;
}
header .slider .info
{
    padding-top: 100px;
    color: #fff;
}
header .slider .info img
{
    color:#FFF;
}
header .slider .info h1
{
    font-size: 55px;
    font-weight: 450;
    margin: 40px 0;
    
}
header .slider .info p
{
    font-size: 15px;
    color: #928c8c;
    max-width: 600px;
    margin: 0 auto;
}
header .slider .info button
{
    margin: 30px 0;
    width: 180px;
    padding: 15px;
    border-radius: 8%;
    background: #7cc576;
    color:#FFF;
    font-size: 17px;
    letter-spacing: 2px;
    transition: 1s;
}
header .slider .info button:hover
{
    background: #FFF;
    color:#7cc576;

}
nav
{
    box-shadow: 0 4px 10px -3px rgba(191, 191, 191, 0.5);
    

}
nav .bg-light
{
    background:#FFF !important;
    text-align: center;
    /* margin: 0px 20%; */
    padding-top: 20px;
    /* left: 15%; */
    /* padding-left: 320px; */

    
}
.navbar-nav
{
    display: flex;
    justify-content: center;
    align-items: center;
}
nav .con-nav
{
    width: 55%;
}

@media (max-width:840px){
    
    .navbar img
    {
        display: none;
    }
}
nav .bg-light img
{
    margin: 0 50px;
}
nav .bg-light li
{
    padding: 0px 10px;
}
.about-us
{
    padding: 70px 0;
}
.info h2
{
    padding: 20px 0;
}
.info p
{
    color: #928c8c;
    font-weight: 400;
    padding: 10px 0 35px 0;
}
.about-us .img-about
{
    padding-bottom: 35px;
}
.img-thumbnail {
    padding: 11px;


}
.about-us .text-2
{
    text-align: left !important;
    /* padding-top: 20px; */
}
.about-us .text-2 ul
{
    list-style: none;
}
.about-us .text-2 ul li i
{
    color:#7cc576;
    
}
/* Start services */
.services-img img
{
    width: 100%;
}
.services i
{
    color: #7cc576;
    float: left;
    font-size: 48px;
    padding: 0 10px;
}
.services .icons h2
{
    font-size: 48px;
    
}
.services .icons >div:last-of-type
{
    padding-bottom: 30px;
}
.services .icons p
{
    display: inline-block;
    margin: 10px 68px;
}
/* End services */

/* Start Features */
.all-features
{
    margin-top: 50px;
    padding-top: 20px;
}
.all-features >div
{
    cursor: pointer;
}
.all-features >div h2
{
    font-size: 20px;
    padding:10px 0;
}
/* End featurs */
/* Start Why-Us */
.why-us
{
    background: #EEE;
    margin-top: 40px;
    padding-top: 20px;
}
.why-us h1
{
    font-size: 30px;
}
.why-us h1 span
{
    color: #555555;
    font-weight: bold;
}
.why-us p
{
    font-size: 14px;
}
.why-us img
{
    width: 100%;
}
.why-us ul
{
    list-style: none;
    padding: 20px 15px;
}
.why-us ul li
{
    background: #FFF;
    border-radius: 10px;
    padding: 20px 10px;
    margin: 10px;
    cursor: pointer;
}
.why-us ul li p
{
    letter-spacing: 1px;
    padding-top: 10px;
    display: none;
}
.why-us ul li span
{
    color: #7cc576;
    font-weight: bold;
    padding-right: 8px;
}

.why-us ul li.active2
{
    color: #7cc576;
}
.why-us .play-btn {
    width: 94px;
    height: 94px;
    background: radial-gradient(#7cc576 50%, rgba(124, 197, 118, 0.4) 52%);
    border-radius: 50%;
    display: block;
    position: absolute;
    left: calc(50% - 47px);
    top: calc(50% - 47px);
    overflow: hidden;
  }
  .why-us .play-btn:hover::after {
    border-left: 15px solid #7cc576;
    transform: scale(20);
  }
  
  .why-us .play-btn:hover::before {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-40%) translateY(-50%);
    width: 0;
    height: 0;
    border: none;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 15px solid #fff;
    z-index: 200;
    -webkit-animation: none;
    animation: none;
    border-radius: 0;
  }
.why-us .play-btn::after {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-40%) translateY(-50%);
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 15px solid #fff;
    z-index: 100;
    transition: all 400ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.why-us .play-btn::before {
    content: '';
    position: absolute;
    width: 120px;
    height: 120px;
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
    -webkit-animation: pulsate-btn 2s;
    animation: pulsate-btn 2s;
    -webkit-animation-direction: forwards;
    animation-direction: forwards;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: steps;
    animation-timing-function: steps;
    opacity: 1;
    border-radius: 50%;
    border: 5px solid rgba(124, 197, 118, 0.7);
    top: 36%;
    left: 39%;
    background: rgba(198, 16, 0, 0);
}
.why-us .accordion-list a.collapsed .icon-close {
    display: none;
  }
.why-us .video-box {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    min-height: 400px;
    position: relative;
}
/* End Why-Us */
/* Start PortFolio */
.portfolio
{
    padding: 50px 0;
    overflow: hidden;
}
.portfolio-menu ul
{
    list-style: none;
    transition: all .5s ease-in-out;
}
.portfolio-menu
{
    margin-left: 75px;
}
.portfolio ul .row{
    width: 50%;
    margin: 0 auto;
}
.portfolio-menu ul li
{
    display: inline-block;
    
    padding: 15px;
    border: 1px solid #7cc576;
    cursor: pointer;
    border-radius: 20px;
    margin: 5px;
    font-size: 15px;
    
}
.portfolio-menu ul li:hover
{
    background: #7cc576;
    color: #fff;
}

.portfolio-menu ul li.active
{
    background: #7cc576;
    color: #fff;
    padding: 15px;
    width: 100px;
}
.portfolio-items >div img
{
    width: 100%;
    /* padding: 10px; */
    
}
.portfolio-items .div-relev
{
    position: relative;
    padding: 10px;
}
.portfolio-items .absl
{
    position:absolute;
    width: 95%;
    height: 93%;
    top: 10px;
    left: 10px;
    color: #FFF;
    background: rgba(0, 0, 0, 0.6);
    transition: all ease-in-out 1.2s;
    opacity: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.portfolio-items .absl::before
{
    content: "";
    display: block;
    position: absolute;
    top: 35px;
    left: 35px;
    width: 48px;
    height: 48px;
    border-top: 3px solid #fff;
    border-left: 3px solid #fff;
    transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
    
    z-index: 9995;
}

.portfolio-items img
{
    
    transition:  all .9s ease-in-out;    
}
.portfolio-items
{
    overflow: hidden;
}
.portfolio-items .div-relev:hover .scale-img
{
    transform: scale(1.1);
    
}
.transition {
    transform: scale(1.6);
}
.portfolio-items .absl::after
{
    content: "";
    display: block;
    position: absolute;
    bottom: 35px;
    right: 35px;
    width: 48px;
    height: 48px;
    border-bottom: 3px solid #fff;
    border-right: 3px solid #fff;
    transition: all 0.5s ease 0s;
    z-index: 9994;
}
.portfolio-items .absl a
{
    display: inline-block;
    margin: 0 5px;
    color: #fff;
    transition: 0.5s;
    font-size: 25px;
}
.portfolio-items .absl a:hover
{
    color:#7cc576
}
.portfolio-items .div-relev:hover .absl
{
    opacity: 1;
}
/* End PorFolio */


/* End Medua qiery */

/* Start TestMonial */
.testmonial
{
    background-image: url('../img/testimonials-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 530px;
}

.testmonial .test-icon i
{
    color: #7cc576;
    margin: 40px 0;
    border-radius: 50%;
    padding: 15px;
    font-size: 15px;
    border: 2px solid #7cc576;
}
.testmonial img
{
    border-radius: 50%;
    width: 120px;
    height: 120px;
    margin: 10px auto;
    border: 1px solid #555555;
    padding: 8px;
}
.testmonial p
{
    color: #fff;
    max-width: 750px;
    margin: 10px auto;
}
.testmonial h3 {
    font-size: 20px;
    font-weight: bold;
    margin: 10px 0 5px 0;
    color: #fff !important;
  }
  
  .testmonial h4 {
    font-size: 14px;
    color: #ddd !important;
    margin: 0 0 15px 0;
  }
  .testmonial .carousel-indicators
  {
    bottom: -50px;
  }
.testmonial .carousel-indicators li
{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    
}
.testmonial .carousel-indicators li.active
{
    background-color: #7cc576;
}
/* End TestMonial */
/* Start Clients */
.clients
{
    background-color: rgb(245, 243, 243);
    padding: 35px 0;
    margin-bottom: 50px;
}
.clients img
{
    width: 60%;
    -webkit-filter: grayscale(100);
    filter: grayscale(100);
    transition: all 0.4s ease-in-out;
}
.clients img:hover
{
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
    transform: scale(1.3);
}
/* End Clients */

/* Start Team */
.team
{
    padding-top: 30px;
}
.team .team-info h1
{
    color: #000;
    font-weight: bold;
    margin-bottom: 20px;
}
.team .team-info p
{
    font-size: 18px;
    color: #aeaeae;
}
.team .team-img
{
    margin-top: 25px;
}
.team .team-img img
{
    border-radius: 5px;
}
.team .team-img .img-info
{
    padding-top: 20px;
}
.team .team-img .img-info h2
{
    font-size: 20px;
    font-weight: 700;
    padding: 5px 0 0px;
}
.team .team-img .img-info span
{
    color: #7cc576;
    padding: 5px 0 15px;
    font-size: 15px;
    display: block;
}
.team .team-img .img-info p
{
    font-size: 14px;
    color: #888888;
    line-height:28px;
    font-style: italic;
}
.team .team-img .div-img .div-num
{
    position: relative;
}
.team .team-img .div-img .social
{
    position: absolute;
    height: 15%;
    width:100%;
    top: 85%;
    left: 0;
    background: rgba(124, 197, 118, 0.8);
    text-align: center;
    color: #FFF;
    transition: 1.5s;
    opacity: 0;
}
.team .team-img .div-img .social a
{
    color: #FFF;
    margin: 0 10px;
    padding-top: 15px;
    display: inline-block;
}
.team .team-img .div-img .social a:hover
{
    color: #7cc576;
}
.team .team-img .div-num:hover .social{
    opacity: 1;
}
/* End TEAM */

/* Media Qiery */
@media (max-width:568px){
    
    nav .bg-light,.services ,.about-us,header .slider,.features,.why-us,.portfolio,.testmonial,.clients
    {
        width: 155%;
    }
    
}
@media (min-width: 992px){
.navbar-expand-lg .navbar-nav .dropdown-menu {
    position: absolute;
    margin: 15px 0 0 0px;
    
}
}
/* @media (min-width:550px){
    nav #navbarSupportedContent {
        padding: 0 0 0 250px;
    }
} */
.dropdown-menu .pages
{
    margin:20px 0 0 10px
}
@media (max-width:991px){
    .portfolio ul .row {
        width: 80%;
        margin: 0 auto;
    }
    
}
/* Media Qiery */

/* Start pricing */
.pricing
{
    padding: 50px 0;
    background: #eee;
}
.pricing .info h2
{
    font-size: 35px;
    font-weight: 600;
    text-transform: uppercase;
    color: #151515;
}
.boxing
{
    overflow: hidden;
}
.pricing .boxing ul
{
    list-style: none;
}
.pricing .box {
    padding: 50px;
    background: #fff;
    border-radius: 8px;
    position: relative;
    overflow: hidden;
    border: 1px solid #fff;
}
.box-recommended
{
    border: 1px solid #7cc576 !important;
}
.box ul li
{
    padding: 10px 0;
}
.box ul .na
{
    text-decoration: line-through;
}
.box h3
{
    color:#151515;
    padding-bottom: 20px;
    font-size: 20px;
}
.box h4
{
    font-size: 40px;
    color: #000;
    font-weight: bold;
}
.box span
{
    font-size: 20px;
    color: #555555;
    font-weight: 400;
}
.box .btn-wrap
{
    border: 2px solid #7cc576;
    padding: 10px 0;
    width: 130px;
    margin: 0 auto;
    color: #7cc576;
    transition: 1s;
    border-radius: 5px;
}
.box .btn-wrap:hover
{
    background: #7cc576;
    color: FFF;
}
.btn-wrap:hover a
{
    color: #FFF;
}
.box .btn-sec{
    background: #7cc576;
    transition: 1s;
    
}
.box .btn-sec a
{
    color: #FFF;
}
.box .recommended-badge
{
    
    position: absolute;
    top: 5px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    font-size: 12px;
    padding: 4px 25px 6px 25px;
    background: #eaf6e9;
    color: #7cc576;
    border-radius: 50px;
    text-transform: uppercase;
    font-weight: 600;
}
/* End pricing */
/* Start Asked */
.asked .info
{
    padding:80px 0;
}
.asked .info h2
{
    color: #000;
    font-weight: 600;
    font-size: 30px;
}
.asked ul
{
    list-style: none;
    
}
.asked ul li
{
    padding: 10px;
    margin: 10px;
    border-bottom: 1px solid #DDD;
    position: relative;
}
.asked .ask-list
{
    cursor: pointer;
}
.asked ul p
{
    display: none;
}
.asked .ask-list i {
    font-size: 24px;
    position: absolute;
    right: 0;
    top: 0;
    
}
 .dropdown-why-us .icon-close {
    display: none;
}
.dropdown-why-us.icon-show {
    display: inline-block;
}
/* End Asked */
/* Start contact */
.contact
{
    background-color: #eee;
    padding: 80px 0;
    margin-top: 50px;
}
.contact .info h2
{
    color:#000;
    font-weight: 700;

}
.contact .info p
{
    font-size: 15px;
}
.contact .contact-div1
{
    
    padding: 30px;
    background-color: #fff;
    margin-right: 5%;
    border-radius: 10px;
}
.contact .contact-div1 i {
    font-size: 20px;
    color: #7cc576;
    float: left;
    width: 44px;
    height: 44px;
    background: #eaf6e9;
    display: flex; 
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    transition: all 0.3s ease-in-out;
}
.contact .contact-div1 i:hover
{
    background-color: #7cc576;
    color: #FFF;
}
.contact .contact-div1 h4 {
    padding: 0 0 0 60px;
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 5px;
    color: #151515;
}
.contact .contact-div1 p {
    padding-left:60px;
    font-size: 14px;
    color: #484848;
}
.contact .contact-div1 >div
{
    margin-bottom: 30px;
}
.contact .contact-div
{
    background-color: #FFF;
    padding: 30px;
    border-radius: 10px;
}
.contact .contact-div form input
{
    display: inline-block;
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 10px;
    border: 1px solid #EEE;
    width: 300px;
}
.contact .contact-div form .input-3
{
    width: 100%;
    display: block;
    /* padding: 15px; */
}
.contact .contact-div form textarea
{
    width: 100%;
    display: block;
    height: 150px;
}
.contact ::placeholder{
    font-size: 12px;
    color: #000;
    /* display: block; */
}
.contact form button {
    background: #7cc576;
    border: none;
    display: block;
    margin: 20px auto 0;
    padding: 10px 24px;
    color: #fff;
    transition: 0.4s;
    border-radius: 4px;
}
/* End contact */

/* Start Footer */
.footer
{
    background-image: linear-gradient(rgba(0,0,0,0.85),rgba(0,0,0,0.85)),url(../img/footer-bg.jpg);
    /* height: 600px; */
    background-size:cover;
    background-position: center center;
    position: relative;
    color: #fff !important;
    font-size: 14px;
    padding: 80px 0 20px ;
    /* margin-top: 50px; */
}

.footer .info img
{
    height: 80px;
}
.footer .info h2
{
    color: #FFF !important;
    font-size: 32px;
}
.footer .info p
{
    max-width: 500px;
    margin:  auto;
    color: #FFF;
}

.footer form input[type="email"]
{
    border: 0;
    /* width: 310px; */
    background: #FFF;
    /* position: absolute; */
    padding: 10px;
    border-radius: 50px;
    width: 400px;
    margin: auto;
}
.footer form input[type="submit"]
{
    background: #7cc576;
    color: #FFF;
    border: 0;
    padding: 10px;
    border-radius: 50px;
    width: 120px;
    position: relative;
    left: -50px;
}
.footer .social-links
{
    padding-top: 40px;
}
.footer .social-links a
{
    background: #7cc576;
    border-radius: 50%;
    font-size: 18px;
    width: 40px;
    height: 40px;
    color: #FFF;
    padding: 10px;
    line-height: 2px;
    margin-right: 3px;
    transition: 1s;
}
.footer .social-links a:hover
{
    background: #5ab652;
}
.footer .copyright
{
    border-top: 1px solid #555555;
    padding-top: 30px;
    margin-top: 120px;
}
.footer .copyright h2
{
    font-size: 14px;
    padding: 0;
}
.footer .copyright span
{
    color: #7cc576;
}
/* End Footer */